*{
  margin: 0;
  padding: 0;
  font-family: arial;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 100px;
}
h2{
  margin-left: 0px;
  display:inline-flex;
  font-weight: 900;
  opacity: 0.7;
  text-transform: capitalize;
}
.nav-links{
  flex: 1;
  text-align: right;
  display: block;
  font-weight: bold;
  
  


}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 3px 6px;
  position: relative;
}
.nav-links ul li a{
  color: black;
  text-decoration: none;
  font-size: 13px;

}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text, p{
  display: flex;
  margin-left: 10px;
  opacity: 0.8;
 margin-bottom: 5px;
}
.first-textbox{

 justify-content: center;
 padding-left: 33%;
 padding-right: 23%;
}
#jpk{
  margin-left: 0px;

}
#fhd{
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.7;
  margin-bottom: 15px;
  margin-left: 8px;
  padding-right: 17%;
  line-height: 25px;
  word-spacing: 6px;
}
#fpp{
  line-height: 25px;
  word-spacing: 1px;
  max-width: 100%;
}
#tpp{
  line-height: 20px;
  margin-left:  50px;
}
.tth{
  display: inline-block;
  margin-bottom: 5px;
}